[submodule "spine-sys/spine-runtimes"]
	path = spine-sys/spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes
[submodule "trayicon-rs"]
	path = trayicon-rs
	url = https://github.com/chengyuhui/trayicon-rs
